@page "/settings/privacy"

<section class="profile-card profile-card--pink">
    <div class="card-header">
        <h1 class="profile-name">Privacy</h1>
    </div>

    <hr>

    <div class="profile-content">
        <p>This page is here to tell you that your data is very private. Your passwords are hashed! Very safe! We also dont sell your data... because we have no buyers.</p>
    </div>
</section>