@page "/settings/notifications"

<section class="profile-card profile-card--pink">
    <div class="card-header">
        <h1 class="profile-name">Notifications</h1>
    </div>

    <hr>

    <div class="profile-content">
        <p>This is the Notifications page where you cannot configure your notifications.</p>
    </div>
</section>