@page "/settings/about"

<section class="profile-card profile-card--pink">
    <div class="card-header">
        <h1 class="profile-name">About</h1>
    </div>

    <hr>

    <div class="profile-content">
        <p>This is a dating app. wow. This is also a dummy page.</p>
    </div>
</section>